@model Data_Layer.Models.DropdownList

@*<script src="~/js/jquery-1.12.4.min.js"></script>
<script src="~/js/jquery-1.12.0.min.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/bundles/datatablecss")
<script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/script/index/jquery.mCustomScrollbar.concat.min.js"></script>*@
@{
    Layout = null;
    ViewBag.Title = "AdvancedSearch";
}
<div>
    <table align="center" cellpadding="10" style="background-color: lavender;font-family:Calibri">
        <tr>
            <th align="center" colspan="2">
                @Html.Label("Advanced Search")
            </th>
        </tr>
        <tr>
            <td>
                @Html.Label("Appointment Mode")
            </td>
            <td>
                @Html.DropDownListFor(model => model.Mode, Model.AppointmentMode, "--Select Appoinment Mode--")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Department")
            </td>
            <td>
                @Html.DropDownListFor(model => model.DepartmentName, Model.Departments, "--Select Department--")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Coordinator")
            </td>
            <td>
                @Html.DropDownListFor(model => model.PIName, Model.CoorList, "--Select Coordinator--")
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <p>
                    <input type="button" class="SubmitViolet" value="Show Results" onclick="button()" />
                </p>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function button() {
        $('#table_id').dataTable({
            "processing": true,
            "serverSide": true,
            "destroy": true,
            'scrollY': '50vh',
            'scrollCollapse': true,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "ajax": {
                'url': "../Recruitment/Adv_Load",
                'data': { mode: $('#Mode').val(), dept: $('#DepartmentName').val(), coor: $('#PIName').val() },
                'method': 'POST',
                'dataType': 'json',
            },
            "columns": [
                { 'data': 'recruit_trx_id', 'name': 'recruit_trx_id' },
                { 'data': 'EmployeeID', 'name': 'EmployeeID' },
                { 'data': 'EmployeeName', 'name': 'EmployeeName' },
                { 'data': 'Appoint_mode', 'name': 'Appoint_mode' },
                //{ 'data': 'file_name', 'name': 'file_name' },
                //{ 'data': 'page_count', 'name': 'page_count' },
                //{ 'data': 'uploadedBy', 'name': 'uploadedBy' },
                {
                    'data': 'path',
                    "render": function (data) {
                        var link = '../Recruitment/ViewDoc?iID=' + data;
                        return "<a href=" + link + " target=_blank>View</a>"
                    }, "orderable": false
                },
                {
                    'data': 'path', "render": function (data) {
                        var link = '../Recruitment/Download?iID=' + data;
                        return "<a href=" + link + ">Download</a>"
                    }, "orderable": false
                }],
            'dom': 'lBfrtip',
            'buttons': ["excelHtml5", "pdfHtml5"],
            "language": {
                "emptyTable": "No data available"
            }
        }); $('#myModal').hide();
    }
    //    $.ajax({
    //        url: '../WSDatatable.asmx/CustomSearch_Recruit',
    //        data: { mode: $('#Mode').val(), dept: $('#DepartmentName').val(), coor: $('#PIName').val() },
    //        method: 'POST',
    //        dataType: 'json',
    //        success: function (data) {
    //            $('#table_id').dataTable({
    //                data: data,
    //                serverside: true,
    //                destroy: true,
    //                scrollY: '50vh',
    //                scrollCollapse: true,
    //                columns: [
    //                    { 'data': 'recruit_trx_id' },
    //                    { 'data': 'EmployeeID' },
    //                    { 'data': 'EmployeeName' },
    //                    { 'data': 'Appoint_mode' },
    //                    { 'data': 'file_name' },
    //                    { 'data': 'page_count' },
    //                    { 'data': 'uploadedBy' },
    //                    { 'data': 'is_active' },
    //                    {
    //                        'data': 'path',
    //                        "render": function (data) {
    //                            var link = '../Recruitment/ViewDoc?iID=' + data;
    //                            return "<a href=" + link + " target=_blank>View</a>"
    //                        }, "orderable": false
    //                    },
    //                    {
    //                        'data': 'path', "render": function (data) {
    //                            var link = '../Recruitment/Download?iID=' + data;
    //                            return "<a href=" + link + ">Download</a>"
    //                        }, "orderable": false
    //                    }],
    //                "order": [0, 'desc'],
    //                "language": {
    //                    "emptyTable": "No data available"
    //                }
    //            });
    //        }
    //    });
    //}
</script>







