@model Data_Layer.Models.Dean_trxModel
@Scripts.Render("~/bundles/sweet")
@Styles.Render("~/bundles/sweetcss")

@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASearch</title>
</head>
<body>
    <div style="width:100%;text-align:center" id="divpartial">
        <div style="color:black;display:inline-block;margin-bottom:3%">
            <h2>Advanced Search</h2>
        </div>
        <br />
        <table align="center" cellpadding="10" style="background-color:lavender;font-family:Calibri">
            <tr>
                <td>                    
                        @Html.LabelFor(m => m.Agreement_type)
                        @Html.DropDownListFor(m => m.Agreement_type, Model.AgreementtypeList, "--Select Agreement Type--", new { @class = "form-control" })                    
                </td>
            </tr>
            <tr>
                <td>                    
                        @Html.LabelFor(m => m.Year)
                        @Html.TextBoxFor(m => m.Year, new { @class = "form-control", @placeholder = "2000" })                    
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <p>
                        <input type="button" class="SubmitViolet" value="Show Results" onclick="button()" />

                    </p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    function button() {
        $('#table_id').dataTable({
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "destroy": true, 
            'scrollY': '50vh',
            'scrollCollapse': true,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "ajax": {
                "url": "../Dean/Adv_Load",
                "data": { type: $('#Agreement_type').val(), year: $('#Year').val() },
                "type": 'POST',
                "datatype": 'json'
            },
            "columns": [
                { 'data': 'dean_trx_id', 'name': 'dean_trx_id' },
                { 'data': 'Agreement_No', 'name': 'Agreement_No' },
                { 'data': 'Year', 'name': 'Year' },
                { 'data': 'Agreement_type', 'name': 'Agreement_type' },
                { 'data': 'Partner', 'name': 'Partner' },
                { 'data': 'Title', 'name': 'Title' },
                { 'data': 'Signed_date', 'name': 'Signed_date' },
                { 'data': 'Expiry_date', 'name': 'Expiry_date' },
                
                { 'data': 'Faculty', 'name': 'Faculty' },
                //{ 'data': 'file_name', 'name': 'file_name' },
                //{ 'data': 'page_count', 'name': 'page_count' },
                { 'data': 'DepartmentCode', 'name': 'DepartmentCode' },
                {
                    'data': null,
                    'render': function (data) {
                        return '<a href="#" class="glyphicon glyphicon-pencil edit-btn" id="' + data.dean_trx_id + '"></button>';
                        //return '<a href="#" onclick="_Upload('+row[0]+')">Edit</a>'
                        //return '<a href="edit?id='+row[0]+'">Edit</a>'
                    }, "orderable": false
                },
                {
                    'data': 'path', 'render': function (data) {
                        var link = '../Dean/ViewDoc?iID=' + data;
                        return "<a href=" + link + "  class='glyphicon glyphicon-eye-open view_btn' target=_blank></a>";
                        // return '<button class="btn btn-info btn-sm view_btn" id="' + link + '" onclick="window.open("'+link+'")">View</button>';
                    }, "orderable": false
                },
                {
                    'data': 'path', 'render': function (data) {
                        var link = '../Dean/Download?iID=' + data;
                        return "<a href=" + link + "  class='glyphicon glyphicon-download-alt download_btn'></a>";
                        //return '<button class="btn btn-info btn-sm download_btn" id="' + data.Agreement_No + '">Download</button>';
                    }, "orderable": false
                },
                {
                    'data': null, 'render': function (data) {
                        return '<a href="#" class="glyphicon glyphicon-trash delete-btn" id="' + data.dean_trx_id + '"></button>';

                    }, "orderable": false
                }
            ],
            'dom': 'lBfrtip',
            'buttons': ["excelHtml5", "pdfHtml5"],   
            "language": {
                "emptyTable": "No data available"
            }
        });
        $('#myModal').hide();
    }
        //$('#table_id tbody').on('click', '.edit-btn', function () {
        //    var data_row = table.row($(this).closest('tr')).data();
        //    $('#myModal1').modal('show');
        //    $('#myModal1').on('shown.bs.modal', function () {
        //        $('#Agreement_No').val(data_row.Agreement_No);
        //        $('#Year').val(data_row.Year);
        //        $('#Agreement_type').val(data_row.Agreement_type);
        //        $('#Partner').val(data_row.Partner);
        //        $('#Title').val(data_row.Title);
        //        $('#Faculty').val(data_row.Faculty);                
        //        $('#Expiry_Date').val(data_row.Expiry_Date);
        //        $('#DepartmentCode').val(data_row.DepartmentCode)

        //    });
        //});
        //$('#table_id tbody').on('click', '.delete-btn', function () {
        //    $('<div title="Confirm Box"></div>').dialog({
        //        open: function (event, ui) {
        //            $(this).html("Do you really want to delete this record and respective file?");
        //        },
        //        close: function () {
        //            $(this).remove();
        //        },
        //        resizable: false,
        //        top: 250,
        //        height: 200,
        //        modal: true,
        //        buttons: {
        //            'Yes': function () {
        //                $(this).dialog('close');
        //                $.post('../Dean/Delete?iID=' + $('.delete-btn').attr("id"));
        //            },
        //            'No': function () {
        //                $(this).dialog('close');
        //            }
        //        }
        //    });
        //    //alert($('.delete-btn').attr("id"));       
        //});
    
</script>
